#sectionContainerDiv{
    display: flex;
    flex-direction: column;

    justify-content: center;

    width: 70%;
    height: 60%;

    margin-left: auto;
    margin-right: auto;

    margin-top: 10px;
}

.partOpts{
    margin-top: 10px;

    height: 70px;

    padding-top: 35px;
    text-align: center;

    background-color: rgb(30, 30, 30);

    border: 2px solid rgb(30, 30, 30);
    border-radius: 50px;
}
.partOpts:hover{
    cursor: pointer;
    color: red;
}

.partInput{
    height: 40px;
    text-align: center;

    border: 2px solid beige;
    border-radius: 20px;
}

.partLbl{
    padding-top: 20px;
    height: 40px;
    color: blueviolet;
}

#addFramebtn{
    margin-top: 20px;
    margin-bottom: 5px;

    width: 100px;
    height: fit-content;

    color: white;
    background-color: rgb(30, 30, 30);

    align-self: center;

    border: 2px solid;
    border-radius: 20px;
}
#addFramebtn:hover{
    cursor: pointer;
    color: blueviolet;
}






